.model-box {
  gap: 15px;
  .imgbox {
    width: 90px;
    height: 90px;
    padding: 10px;
    border: 1px solid #f8f8fa;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    #react-modal-image-img {
      height: 100%;
      width: 500px;
      object-fit: cover;
    }
  }
  h3 {
    font-weight: 600;
    font-size: 18px;
    color: #575757;
    span {
      display: block;
      font-weight: 500;
      font-size: 16px;
      color: #74777b;
    }
  }
}

.tag-name {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  flex-wrap: wrap;
  span {
    padding: 0px 3px;
    height: 26px;
    border-radius: 2px;
  }
}
